{% extends 'tom_common/base.html' %}
{% load bootstrap4 observation_extras %}
{% block title %}Facility Status{% endblock %}
{% block content %}
<h3>Facility Status</h3>
{% facility_map %}
<div>
  <div
    hx-get="{% url 'tom_observations:render-facility-status-list'%}?hx_trigger=load" hx-target="#facility-status-list"
    hx-indicator=".progress"
    hx-trigger="load">
    <button
      class="btn btn-secondary mb-3"
      hx-get="{% url 'tom_observations:render-facility-status-list' %}"
      hx-trigger="click"
      hx-disabled-elt="this">
        Refresh Facility Status
    </button>
  </div>
  <div class="progress"><div class="indeterminate"></div></div>
  <div id="facility-status-list" class="table-responsive-lg">
  {% include 'tom_observations/partials/facility_status_table.html' with loading=True facilities=None %}
  </div>
</div>
{% endblock %}
