{% extends 'tom_common/base.html' %}
{% load bootstrap4 %}
{% block title %}Observations{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-6">
        {% bootstrap_pagination page_obj extra=request.GET.urlencode %}
      </div>
      <div class="col-md-6">
        <span class="float-right">
          <a href="{% url 'tom_observations:list' %}?update_status=True" class="btn btn-primary" title="Update status of all incomplete observations--please be patient!">Update Observations</a>
        </span>
      </div>
    </div>
    <table class="table">
      <thead><tr><th>View</th><th>Target</th><th>Facility</th><th>Status</th><th>Saved Data</th><th>Download All</th></tr></thead>
      <tbody>
        {% for observation in filter.qs %}
        <tr>
          <td><a class="btn btn-success" href="{% url 'tom_observations:detail' observation.id %}">Details</a></td>
          <td><a href="{% url 'tom_targets:detail' observation.target.id %}" title="{{ observation.target.id }}">{{ observation.target.name }}</a></td>
          <td>{{ observation.facility }}</td>
          <td>{{ observation.status }}</td>
          <td>{{ observation.dataproduct_set.count }}</td>
          <td>
            {% if observation.status == 'COMPLETED' %}
            <form method="POST" action="{% url 'tom_dataproducts:save' observation.id %}">
              {% csrf_token %}
              <input type="hidden" value="ALL" name="products">
              <input type="hidden" value="{{ observation.facility }}" name="facility">
              <input type="submit" value="Save" class="btn btn-primary">
            </form>
            {% endif %}
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="7">
            No observations yet. You might want to create an observation from one of
            <a href="{% url 'tom_targets:list' %}">your saved targets</a>.
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% bootstrap_pagination page_obj extra=request.GET.urlencode %}
  </div>
  <div class="col-md-2">
    <form action="" method="get" class="form">
      {% bootstrap_form filter.form %}
      {% buttons %}
        <button type="submit" class="btn btn-primary">
          Filter
        </button>
        <a href="{% url 'tom_observations:list' %}" class="btn btn-secondary" title="Reset">Reset</a>
      {% endbuttons %}
    </form>
  </div>
</div>
{% endblock %}
