{% extends 'tom_common/base.html' %}
{% load bootstrap4 static %}
{% block title %} Observation record: {{ object.id }} {% endblock %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'tom_observations/css/main.css' %}">
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-6">
    <h2>{{ object }}</h2>
    <p><strong>Created:</strong> {{ object.created }} <strong>Modified:</strong> {{ object.modified }}</p>
    <p><strong>Status:</strong> {{ object.status }}</p>
    <h3>Upload Data Products</h3>
    <form method="POST" action="{% url 'tom_observations:data-upload' object.id %}"   enctype="multipart/form-data">
      {% csrf_token %}
      {% bootstrap_form data_product_form %}
      {% buttons %}
      <input type="submit" class="btn btn-primary" value="Upload">
      {% endbuttons %}
    </form>
  </div>
  <div class="col-md-6">
    {% if image %}
    <img src="data:image/png;base64, {{ image }}" class="display">
    {% endif %}
  </div>
</div>
<h4>Saved Data Products</h4>
<form method="POST" action="{% url 'tom_observations:group-data' %}">
  {% csrf_token %}
  <div class="form-row">
    <div class="col-sm-4">
      {% bootstrap_field form.group layout='inline' %}
      {% for product in data_products.saved %}
        <input type="hidden" name="products" value="{{ product.id }}">
      {% endfor %}
    </div>
    <div class="col-sm-8">
      {% buttons %}
      <input type="submit" value="Add to group" class="btn btn-primary">
      {% endbuttons %}
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Filename</th>
        <th>Tag</th>
        <th>Created</th>
        <th>Download</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for product in data_products.saved %}
      <tr>
        <td>{{ product.id }}</td>
        <td>{{ product.get_file_name }}</td>
        <td>{{ product.get_tag_display }} <a href="{% url 'tom_observations:data-tag' product.id %}" class='btn btn-secondary float-right' title="Modify Tag">⇄</a></td>
        <td>{{ product.created }}</td>
        <td><a href="{{ product.data.url }}">Download</a></td>
        <td><a href="{% url 'tom_observations:data-delete' product.id %}" class="btn btn-danger">Delete</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</form>

<form method="POST" action="{% url 'tom_observations:data-save' object.id %}">
  {% csrf_token %}
  <input type="hidden" value="{{ object.facility }}" name="facility">
  <input type="hidden" value="ALL" name="products">
  <input type="submit" value="Save All" class="btn btn-primary float-right">
</form>
<form method="POST" action="{% url 'tom_observations:data-save' object.id %}">
  {% csrf_token %}
  <input type="hidden" value="{{ object.facility }}" name="facility">
  <div class="row">
    <div class="col-md-9">
      <h4>Unsaved data products</h4>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-2">
      <input type="submit" value="Save Selected" class="btn btn-primary">
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Created</th>
        <th>Filename</th>
        <th>URL</th>
        <th>Save</th>
      </tr>
    </thead>
    <tbody>
      {% for product in data_products.unsaved %}
      <tr>
        <td>{{ product.created }}</td>
        <td>{{ product.filename }}</td>
        <td><a href="{{ product.url }}">Download</a></td>
        <td>
          <input type="checkbox" name="products" id="product{{ product.id }}" value="{{ product.id }}">
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</form>
<h4>Request Parameters</h4>
<dl class="row">
  {% for k,v in object.parameters_as_dict.items %}
  <dt class="col-sm-6">{{ k }}</dt>
  <dd class="col-sm-6">{{ v }}</dt>
  {% endfor %}
</dl>
{% endblock %}
