/*!
 * Adapted from MOP CSS v5.2.16
 */

:root {
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --theme_primary: #313232;
    --theme_text_primary: #fff;
    --theme_accent1: #191c17;
    --theme_accent2: #272626;
    --theme_accent3: #7f837b;
    --theme_link_text: #8eb8e6;
    --theme_link_hover: #00effe;
    --theme_link_active: #fead00;
}
