include README.md
recursive-include tom_common/templates *
recursive-include tom_common/static *
recursive-include tom_targets/templates *
recursive-include tom_targets/static *
recursive-include tom_setup/templates *
recursive-include tom_observations/static *
recursive-include tom_observations/templates *
recursive-include tom_dataproducts/static *
recursive-include tom_dataproducts/templates *