include README.md
recursive-include bhtom_common/templates *
recursive-include bhtom_common/static *
recursive-include bhtom_alerts/templates *
recursive-include bhtom_alerts/static *
recursive-include bhtom_catalogs/templates *
recursive-include bhtom_catalogs/static *
recursive-include bhtom_targets/templates *
recursive-include bhtom_targets/static *
recursive-include bhtom_setup/templates *
recursive-include bhtom_observations/static *
recursive-include bhtom_observations/templates *
recursive-include bhtom_dataproducts/static *
recursive-include bhtom_dataproducts/templates *