{% load bootstrap4 %}
<h4>Data</h4>
<table class="table table-striped">
  <thead><tr><th></th><th>Created</th><th>Filename</th><th>Tag</th></tr></thead>
  <tbody>
  {% for product in products %}
    <tr>
      {% if not product.featured %}
      <td><a href="{% url 'tom_observations:data-feature' pk=product.id %}?target_id={{ target.id }}" title="Make Featured Image" class="btn btn-primary">Feature</a></td>
      {% else %}
      <td><span class="btn btn-secondary active featured">Featured</span></td>
      {% endif %}
      <td>{{ product.created }}</td>
      <td>{{ product.get_file_name }}</td>
      <td>{{ product.get_tag_display }} <a href="{% url 'tom_observations:data-tag' product.id %}" class='btn btn-secondary float-right' title="Modify Tag">⇄</a></td>
    </tr>
  {% endfor %}
</table>