/*!
 * Adapted from Bootstrap v4.6.2 (https://getbootstrap.com/)
 * Set defaults for custom css
 */
:root {
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
}

body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
}

a {
    color: #007bff;
    background-color: transparent;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}
