{% extends 'tom_common/base.html' %}
{% load comments bootstrap4 tom_common_extras %}
{% block content %}
<div class="row">
  <div class="col-md-6">
    <h3>Target {{ object.identifier }}</h3>
    {% for key, value in object.as_dict.items %}
    <p>{% verbose_name object key %}: {{ value }}</p>
    {% endfor %}
    {% for target_extra in object.targetextra_set.all %}
    <p>{{ target_extra.key }}: {{ target_extra.value }}</p>
    {% endfor %}
  </div>
  <div class="col-md-6">
    <a href="{% url 'tom_targets:update' pk=object.id %}" title="Update target" class="btn btn-primary">Update Target</a>
    <a href="{% url 'tom_targets:delete' pk=object.id %}" title="Delete target" class="btn btn-warning">Delete Target</a>
    <h5>Observe this target via:</h5>
    <ul>
      {% for facility in facilities%}
      <li><a href="{% url 'tom_observations:create' facility=facility %}?target_id={{ object.id }}">{{ facility }}</a></li>
      {% endfor %}
    </ul>
    <h5>Total Saved Data Products: {{ object.dataproduct_set.count }}</h5>
    <h5>Observations</h5>
    {% for observation in object.observationrecord_set.all %}
    <ul>
      <li>Facility: {{ observation.facility }}</li>
      <li>Observation Id: {{ observation.observation_id }}</li>
      <li>Created: {{ observation.created }}</li>
      <li>Saved Data Products: {{ observation.dataproduct_set.count }}</li>
      <li>Link: <a href="{{ observation.url }}" target="_blank">View</a></li>
    </ul>
    {% endfor %}
    <h5>Comments</h5>
    {% comments_enabled as comments_are_enabled %}
      {% if user.is_authenticated and comments_are_enabled %}
        {% render_comment_list for object %}
        {% url 'targets:detail' object.id as next %}
        {% render_comment_form for object %}
      {% endif %}
  </div>
</div>
{% endblock %}
