{% extends 'tom_common/base.html' %}
{% load bootstrap4 targets_extras dataproduct_extras static %}
{% block title %}Target Selection{% endblock %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'tom_targets/css/main.css' %}">
{% endblock %}
{% block content %}
<h3>Select Targets for an Observing Facility</h3>
<p>The form below will calculate the visibility of targets on a selected target list from your observatory of choice, for
    a 24hr window starting at the date/time given (UTC).  Note the visibility is calculated at 10min intervals, so
    rise/set times and duration of visibility are approximate.
</p>
<div class="row">
  <form method="post" class="form" id='target-selection-form'>
    {% csrf_token %}
    <div class="form-row" style="padding-inline:1rem">
        <div class="col-sm-3">
            {% bootstrap_field form.observatory %}
        </div>
        <div class="col-sm-5">
            {% bootstrap_field form.window_start %}
        </div>
        <div class="col-sm-3">
            {% bootstrap_field form.target_list %}
        </div>
        <div class="col-sm-1">
            <input type="submit" class="btn btn-primary" formaction="{% url 'targets:target-selection' %}" id="submit_target_selection" value="Submit" name="target_selection_form" style="position:absolute; bottom:1rem"">
        </div>
    </div>
  </form>
</div>
<div class="row">
    {% if targets_page.has_other_pages %}
      {% bootstrap_pagination targets_page %}
    {% endif%}
    <label id="displaySelected"></label>
    <table class="table table-striped">
        {%if use_table %}
            <tr>
                {% for col in table_columns %}
                    <th>{{col}}</th>
                {% endfor %}
            </tr>
            {% if target_visibilities|length > 0 %}
                {% for entry in target_visibilities %}
                    <tr>
                        <td>
                            <a href="{% url 'targets:detail' entry.0 %}" title="{{ entry.1 }}">{{ entry.1 }}</a>
                        </td>
                        {% for item in entry %}
                            {% if forloop.counter0 > 1 %}
                                <td>{{item}}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="100">No visible targets found</td>
                </tr>
            {% endif %}
        {% endif %}
    </table>
    {% if targets_page.has_other_pages %}
      {% bootstrap_pagination targets_page %}
    {% endif%}
</div>
{% endblock %}
