{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
{% bootstrap_pagination page_obj extra=request.GET.urlencode %}
<table class="table">
  <thead><tr><th>ID</th><th>Name</th><th>Designation</th><th>Type</th></tr></thead>
  <tbody>
    {% for target in object_list %}
    <tr>
      <td><a href="{% url 'targets:detail' target.id %}" title="{{ target.id }}">{{ target.id }}</a></td>
      <td>{{ target.name }}</td>
      <td>{{ target.designation }}</td>
      <td>{{ target.get_type_display }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% bootstrap_pagination page_obj extra=request.GET.urlencode %}
{% endblock %}

