{% load bootstrap4 %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Filename</th>
      <th>Tag</th>
      <th>Created</th>
      <th>Download</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for product in products.saved %}
    <tr>
      <td>{{ product.id }}</td>
      <td>{{ product.get_file_name }}</td>
      <td>{{ product.get_tag_display }} <a href="{% url 'tom_dataproducts:tag' product.id %}"class='btn btn-secondary float-right' title="Modify Tag">⇄</a></td>
      <td>{{ product.created }}</td>
      <td><a href="{{ product.data.url }}">Download</a></td>
      <td><a href="{% url 'tom_dataproducts:delete' product.id %}" class="btnbtn-danger">Delete</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>