{% load tom_common_extras user_extras %}
{% navbar_app_addons 'right' %}
{% if user.is_authenticated %}
<li class="nav-item">
    {% if user.first_name or user.last_name %}
        <a class="nav-link" href="{% url 'user-profile' %}">{{ user.first_name }} {{ user.last_name }} ({{ user.username }})</a>
    {% else %}
        <a class="nav-link" href="{% url 'user-profile' %}">{{ user.username }}</a>
    {% endif %}
</li>
<li>
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button class="btn btn-outline-success" title="Logout" type="submit">Logout</button>
    </form>
</li>
{% else %}
{% registration_is_open as show_register_button %}
{% if show_register_button %}
<li class="nav-item me-2">
    <a class="btn btn-outline-primary" title="Register" href="{% url 'account_signup' %}">Register</a>
</li>
{% endif %}
<li class="nav-item">
    <a class="btn btn-outline-success" title="Login" href="{% url 'login' %}">Login</a>
</li>
{% endif %}
