{% load user_extras tom_common_extras %}
{% load bootstrap4 %}

<div class="container">
        <div class="row">
            <div class="col-6">
            {% for profile in profile_list %}

                {% if forloop.counter > profile_list|length|add:"1"|multiplyby:"0.5" and forloop.counter <= profile_list|length|add:"1"|multiplyby:"0.5"|add:"1" %}
                    </div>

                    <div class="col-6">
                {% endif %}
                        {% include profile %}
            {% empty %}
                This user has no profile.
            {% endfor %}
                    </div>
        </div>
</div>