<div style="cursor:pointer; display:flex; align-items:center; gap:0.25rem;"
     title="Click to reveal"
     onclick="togglePasswordVisibility(this);">
    <input
        type="password"
        readonly
        value="1234567890"
        class="form-control-plaintext p-0"
        style="flex:1; min-width:0; cursor:pointer;"
    /> <i class="fa fa-eye" style="flex-shrink:0;"></i>
</div>
<script>
function togglePasswordVisibility(element) {
    const input = element.querySelector('input');
    if (input.type === 'password') {
        input.type = 'text';
        input.value = "{{ value }}"
    } else {
        input.type = 'password';
        input.value = '1234567890'
    }
}
</script>
