{% extends 'tom_common/base.html' %}
{% load bootstrap4 static crispy_forms_tags %}
{% block title %}Query Data Service{% endblock %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'tom_common/css/main.css' %}">
{% endblock %}
{% block content %}
{{ form|as_crispy_errors }}
<h2>Query {{ form.service.value }} {{ data_service_type }}</h2>
<ul>
    {% if service_notes %}
    <li><em>Service Notes:</em> {{ service_notes }}</li>
    {% endif %}
    {% if info_url %}
    <li><em>More information: <a href="{{ info_url }}" target="_blank"> {{ form.service.value }}</a></em></li>
    {% endif %}
</ul>
<br />
<h4>Target <b><a href="{% url 'targets:detail' target.id %}"> {{ target.name }}</a></b>
    at RA {{ target.ra|floatformat:4 }}, DEC {{ target.dec|floatformat:4 }}</h4>
<hr>
{% crispy query_form %}
<hr>
{% endblock %}
