{% load static bootstrap4 %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="icon" type="image/png" href="{% static 'img/favicon-32x32.png' %}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{% static 'img/favicon-16x16.png' %}" sizes="16x16" />

    <title>TOM Toolkit | {% block title %}{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="/"><img src="{% static 'img/icon.png' %}" class="img-fluid"/> TOM Toolkit</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item {% if request.resolver_match.url_name == 'home' %}active{% endif %}">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item {% if request.resolver_match.namespace == 'targets' %}active{% endif %}">
            <a class="nav-link" href="{% url 'targets:list' %}">Targets</a>
          </li>
        </ul>
        {% if user.is_authenticated %}
          <a class="btn btn-outline-success" title="logout" href="{% url 'logout' %}">Logout</a>
        {% else %}
          <a class="btn btn-outline-success" title="logout" href="{% url 'login' %}">Login</a>
        {% endif %}
      </div>
    </nav>

    <main role="main" class="container">
      {% bootstrap_messages %}
      <div class="content">
        {% block content %}
        {% endblock %}
      </div>

    </main>

  {% block javascript %}
    {% bootstrap_javascript %}
    {% endblock %}
    {% block extra_javascript %}
    {% endblock %}
  </body>
</html>
