{% extends 'base.html' %}
{% load targets_extras tom_tags %}
{% block content %}
<div class="row">
  <div class="col-md-8">
    <h2>Congratulations! Welcome to your new TOM.</h2>
    <p>
      You can customize this page by editing the
      <code>templates/index.html</code> file or by editing your
      project's <code>urls.py</code>.
    </p>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        Recent Comments
      </div>
      {% recent_comments %}
    </div>
    <br/>
    {% recent_targets %}
  </div>
</div>
{% endblock %}
