{% load bootstrap4 %}
<div class="btn-group dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="CatalogDropdownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Catalog Search
    </button>
    <div class="dropdown-menu" aria-labelledby="CatalogDropdownButton">
        {% for catalog in catalogs %}
      <a class="dropdown-item" href="{% url 'dataservices:create' %}?data_service={{ catalog }}" title="{{catalog}}">{{catalog}}</a>
        {% endfor %}
    </div>
</div>
