<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown">Data Services</a>
    <ul class="dropdown-menu">
        <li class="nav-item {% if request.resolver_match.namespace == 'demoapp' %}active{% endif %}">
            thing1
        </li>
        <li class="nav-item {% if request.resolver_match.namespace == 'demoapp' %}active{% endif %}">
            thing2
        </li>
        <div class="dropdown-divider"></div>
        <li class="nav-item {% if request.resolver_match.namespace == 'demoapp' %}active{% endif %}">
            thing3
        </li>
        <li class="nav-item {% if request.resolver_match.namespace == 'demoapp' %}active{% endif %}">
            thing4
        </li>
    </ul>
</li>