{% extends 'tom_common/base.html' %}
{% block title %}Calendar{% endblock %}
{% block content %}
  {% include 'tom_calendar/partials/calendar.html' %}
  <!-- Modal -->
  <div class="modal fade" id="cal-modal" tabindex="-1" aria-labelledby="calModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="cal-modal-body">
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block extra_javascript %}
<script>
  document.body.addEventListener("calClose", function () {
    const el = document.getElementById('cal-modal');
    bootstrap.Modal.getOrCreateInstance(el).hide();
  });
  document.body.addEventListener("calRefresh", function () {
    const cal = document.getElementById("calendar-partial");
    htmx.ajax("GET", cal.dataset.url, {target: "#calendar-partial", swap: "outerHTML"});
  });
</script>
{% endblock %}
