{% extends 'tom_common/base.html' %}
{% block content %}
{% block title %}<h4>Confirm password change</h4>{% endblock %}
<form class="form" method="post">
  {% csrf_token %}
  <p>Are you sure you want to change the password for user: <b>{{ object.username }}</b>?</p>
  <p>This will also clear out all of their saved external service API keys and passwords (if any).</p>
  <input type="submit" class="btn btn-danger" value="Proceed to change password">
  <a href="{% url 'user-list' %}" class="btn btn-primary">Cancel</a>
</form>
{% endblock %}
