astroquery
astropy
astroplan
django
django-bootstrap4
django-contrib-comments
django-crispy-forms
django-extensions
django-filter
django-gravatar2
django-guardian
djangorestframework
fits2image
numpy
plotly
pillow
python-dateutil
recommonmark
requests
specutils
sphinx>=2.1.2
tom_antares
tom_scimma