django
django-bootstrap4
django-extensions
django-filter
django-contrib-comments
django-gravatar2
django-crispy-forms
django-guardian
numpy
python-dateutil
requests
astroquery
astropy
plotly
pillow
fits2image
specutils
sphinx>=2.1.2
recommonmark